div#addBookContainer {
    background-color: #e8d4c9;
    margin: 2em auto;
    width: 75%;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 5px #f0e2db;
    padding: 2em;
}
form button {
    background-color: #4c7cad;
    color: white;
    border-radius: 5em;
    padding: .5em;
}
form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}